section#aboutme
  div.row-container
    div.col-50
      div.sideimage
        img(src="http://placekitten.com/g/250/250")

    div.col-50
      div.sidearticle
        <em>Hello!</em> My name is Rock. <br> An aspiring Data Analyst. <br> Curiosity is a core aspect in my daily life.
