section#aboutme
  div.section-left
    div.sideimage
      <span>""</span>

  div.section-right
    div.sidearticle
      <em>Hello!</em> My name is Rock. <br> An aspiring Data Analyst. <br> Curiosity is a core aspect in my daily life. 
