section#contact

  div.contact-container
    div.contact-left
      div.contact-header
        h3 Have a<span> Query </span>
          div.textadjust <br> for <span>Rock</span>?
      div.contact-sub
        h4 Feel free to contact me <br> in any of the following links!

    div.contact-right
      ul.contactlist
        li.contactitem
          a(href="#") Email
          p rock.k.chi@gmail.com
        li.contactitem
          a(href="#") Github
          p github.com/something
        li.contactitem
          a(href="#") Linkedin
          p linkedin.com/something
