section#dataviz
  div.grid
    {% for post in site.posts limit:8 %}
    figure.effect-lily
      img(src="assets/img/posts/thumb/{{post.thumbnail}}" alt="img1")
      figcaption
        div
          h2.name {{post.title}}
          p Lily likes to play with crayons and pencils
          a(href="#") View more
    {% endfor %}
