div#navbar
  nav.menubar
    div.logobox
      div.logo QueryRock
    div.buttonbox
      div.togglebutton
        span.bar
        span.bar
        span.bar

    div.menu
        ul
          li
            a(href="#aboutme") About Me
          li
            a(href="#skills") Skills
          li
            a(href="#dataviz") Data Visualization
          li
            a(href="#contact") Contact Me
