div#navbar
  nav
    div.desktopnav
      ul.desktopnavlist
        li.navitem
          a(href="#landing") Home
        li.navitem
          a(href="#aboutme") About
        li.navitem
          a(href="#skils") Skills
        li.navitem
          a(href="#dataviz") Data Viz
        li.navitem
          a(href="#landing") Contact
