section#skills
  div.section-center
    div.centerarticle
      | Follow me as I answer some of my curiosities with data. I hope that with these queries, I can demonstrate the application of some analytical tools and show fascinating stories they can assist telling.

  div.section-center
    div.item-grid
      div.item
        div.itemimage
        div.itemtext
          | R
      div.item
        div.itemimage
        div.itemtext
          | Excel
      div.item
        div.itemimage
        div.itemtext
          | Tableau
      div.item
        div.itemimage
        div.itemtext
          | SQL
