section#skills
  div.column-container
    div.centerarticle
      p Follow me as I explore and find answers some of my curiosities with data.
      <hr>
      p I hope that with these queries, I can demonstrate the application of some analytical tools and show fascinating stories they can assist telling.
