div#test
  div.section-header
    h4 Data Visualizations
  div.grid
    {% for post in site.posts limit:8 %}
    div.postthumb
      img(src="assets/img/posts/thumb/{{post.thumbnail}}" alt="img1")
    {% endfor %}
