#aboutme
  background-color: #dfdfdf
  background-size: cover
  position: relative
  display: flex
  flex-direction: row
  justify-content: center

  //row-container: row container for two parallel columns
  .row-container
    padding: 28vh 0px 0px 0px
    display: flex
    flex-direction: row
    justify-content: center
    width: 70%

  .col-50
    flex: 1
    width: 50%

    .sideimage
      width: 250px
      height: 250px
      background-color: #393636
      border-radius: 10px
      margin-left: 90px

    .sidearticle
      margin-left: 20px
      margin-right: 4%
      font-size: 30px
      font-family: 'opensanslight'
      letter-spacing: 0
      line-height: 1.5
      color: #6f6f6f
      padding: 0
      padding-right: 1em

      em
        color: #393636

//At screen width of 1115, two column collapses into 1
@media screen and (max-width: 1081px)
  #aboutme .row-container
    margin: auto
    padding: 0
    width: 100%
    flex-direction: column

  #aboutme
    .col-50
      width: 100%

      .sideimage
        margin: auto

      .sidearticle
        padding-top: 30px
        margin: auto
        text-align: center
        line-height: 1.5
        font-size: 25px
        padding: 1em

//Font-size changes at 720
@media screen and (max-width: 720px)
  #aboutme .col-50 .sidearticle
    font-size: 22px
