#contact
  position: relative
  background-color: #dfdfdf

.contact-container
  position: absolute
  top: 50px
  width: 70%
  margin-left: 15%
  margin-right: 15%

.contact-left
  display: block
  position: absolute
  margin-left: 10%
  width: 300px
  padding-top: 50px
  padding-bottom: 50px

  .contact-header h3
    position: relative
    font-size: 40px
    color: grey

    span
      color: #393636

    div.textadjust
      display: inline
      position: absolute
      left: 80px

  div.contact-sub
    position: relative
    top: 30px

.contact-right
  display: block
  float: right
  margin-right: 15%
  width: 300px
  padding-top: 80px

  .contactitem
    list-style: none
    border-style: solid
    border-width: medium
    border-radius: 6px
    border-color: grey
    margin: 10px
    padding-left: 1em
    color: grey

    a
      color: grey
      font-size: 40px
    p
      line-height: 0
