nav
  position: fixed
  display: block
  top: 0
  left: 0
  z-index: 9999
  width: 100%
  height: 60px
  border-bottom: 1px solid grey
  background-color: white
  -webkit-transition: all 0.3s
  transition: all 0.3s
  opacity: 0

  .logobox
    float: left
    width: 185px
    height: 60px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    .logo
      font-size: 25px
      font-weight: bold
      color: grey


  .buttonbox
    display: block
    float: right
    width: 110px
    height: 60px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    .togglebutton
      margin-top: 5px

      span.bar
        content: ""
        display: block
        background-color: grey
        height: 4px
        border-radius: 2px
        width: 50px
        margin: 0 0 6px 0
        padding: 0

.menu
  display: none
  position: fixed
  top: 60px
  left: 0
  height: 100%
  width: 100%
  background-color: black
  opacity: 0.9

  ul
    list-style: none
    display: flex
    flex-direction: column
    padding-top: 60px

    li
      font-size: 30px
      font-weight: 600px
      padding: 0 0 25px
      margin: 0

      a
        color: white

.sticky
  opacity: 1
  transition: opacity 0.5s
