.desktopnav
  position: fixed
  top: 0
  left: 0
  z-index: 9999
  width: 100%
  height: 150px

.desktopnavlist
  list-style: none
  float: right

.navitem
  display: inline-block
  font-size: 18px
  padding: 10px
  text-transform: uppercase
  letter-spacing: 0em
  line-height: 1.8
  font-weight: 500

  a
    color: #424242

  a:hover
    text-decoration: underline
