#skills
  background-color: #6f6f6f
  position: relative
  width: 100%

.section-center
  position: absolute
  top: 120px
  left: 15%
  right: 15%
  padding-top: 10px
  padding-bottom: 50px

.centerarticle
  font-size: 30px
  font-family: 'opensanslight'
  letter-spacing: 0
  line-height: 1.8
  text-align: center
  color: #dfdfdf

.item-grid
  width: 70%
  position: absolute
  top: 200px
  margin-left: 19%
  margin-right: 19%

  .item
    display: inline-block
    position: relative
    width: 160px
    padding: 0
    margin: 0

  .itemimage
    padding: 0
    width: 120px
    background-color: #dfdfdf
    border-radius: 5px

  #bar1
    position: absolute
    height: 180px
    top: 50px
  #bar2
    position: absolute
    height: 230px
    top: 0
  #bar3
    position: absolute
    height: 110px
    top: 120px
  #bar4
    position: absolute
    height: 100px
    top: 130px

  .guideline
    height: 20px
    width: 100%
    background-color: #dfdfdf

  .itemtext
    font-size: 30px
    font-family: 'opensanslight'
    text-align: center
    color: #6f6f6f
